<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:powderblue;">
    <center>
        <h1  style="font-size:300%;color:rgb(223, 1, 1)"><marquee behavior="" direction=""><i>BAHUBALI</i></marquee></h1>
        <h1>Premaga Choodalsina ma amma kallu na vonka dheenamga chusthunaai Neneppudu chudani kallu
            nannu devudilla chusthunnaai evaro teliyani aa thalli vonti mida gaayalu chusthunte na kallalo netthuti erlu ponguthunnaai Endhuku...Nenu evarniiii?</h1>
        <a href="{% url 'kattapa' %}"><h1>kattapa dailouge</h1></a>
    </center>
</body>
</html>