<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:powderblue;">
    <h1 style="font-size:300%;color:rgb(223, 1, 1))">DEVASENA</h1>
    <h1>Pullalu erukovadiniki nenu picchhi dannanukunnava katappa...
        chithi perusthunnanu... aa bhallala devudni kalchadaniki....</h1>
    <a href="{% url 'kattapa' %}"><h1>kattapa dailouge</h1></a>
    <a href="{% url 'bahubali' %}"><h1>bahubali</h1></a>
</body>
</html>