<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(55, 151, 164);">
    <center>
        <h1  style="font-size:300%;color:rgb(48, 165, 42)"><marquee behavior="" direction=""><i>KATTAPA</i></marquee></h1>
        <h1>Ma Amarendhra Baahubali rakthanivi nuvu... Kanna thalli paathikella nireekshana ki nidharshanam nuvvu Raja Matha Sivagami devi pranathyaga phalitham nuvu</h1>
        <a href="{% url 'devasena' %}"><h1>devasena</h1></a>
        <a href="{% url 'bahubali' %}"><h1>bahubali dailouge</h1></a>
    </center>
</body>
</html>